node_modules
openspec
logs
dist
.env
.claude
.ace-tool/
.snow
test-*
.codex
.pnpm-store
.omc
.project-memory
docs/CLI.md
docs/MCP.md
架构图.png
docs/architecture.png
CPn
D
GE
HUBn
IXn
LOGn
LTn
MRn
Memoryn
RRFn
